* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 

    text-align: center;
    height: 100vh;
}

body .p, form {
    margin: 10px 0;
}

.form {
    display: none;
}


button, .guessSubmit {
    background: #627AFF;
    width: 140px;
    height: 37px;
    border: none;
    border-radius: 20px;
    margin-top: 15px;

    cursor: pointer;
    transition: 0.3s ease-out;
    outline: none;

    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

button:hover {
    background: #6299ff;
}


/* lastResult */
.lastResult {
    width: 520px;
    color: #fff;
    padding: 5px;
    margin: 10px auto;
}

/* FORM */
.guessField {
    width: 100%;
    height: 43px;

    display: block;
    margin-top: 20px;
    padding: 10px;

    outline: none;
    background: none;
    border: 1.5px solid #DFDFE0;
    border-radius: 5px;
}


/* Flex */
.flex {
    display: none;
    justify-content: space-between;
}

h4 {
    margin-bottom: 8px;   
} 

.flex p {
    text-align: start;
}